.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 1184px;
  height: 442px;
  margin: 118px 0px 92px 0px;
}

.photo-grid__collage {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 1184px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 720px;
    height: 1104px;
    margin: 64px auto 88px auto;
  }
}

@media (max-width: 720px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 288px;
    height: 1812px;
    margin: 38px auto 62px auto;
  }
}
